.blog-card {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 75%;
    padding: 10px;
    margin-bottom: 60px;
}

.card-body {
    padding-top: none;
}

.card-text{
    margin-top: 0px !important;
}